[submodule "moui/deps/nanovg"]
	path = moui/deps/nanovg
	url = git@github.com:memononen/nanovg.git
[submodule "moui/deps/bx"]
	path = moui/deps/bx
	url = git@github.com:bkaradzic/bx.git
[submodule "moui/deps/bgfx"]
	path = moui/deps/bgfx
	url = git@github.com:bkaradzic/bgfx.git
[submodule "moui/deps/freetype"]
	path = moui/deps/freetype
	url = git://git.sv.gnu.org/freetype/freetype2.git
