[submodule "moui/deps/nanovg"]
	path = moui/deps/nanovg
	url = git@github.com:memononen/nanovg.git
[submodule "moui/deps/freetype"]
	path = moui/deps/freetype
	url = git://git.sv.gnu.org/freetype/freetype2.git
[submodule "moui/deps/MetalNanoVG"]
	path = moui/deps/MetalNanoVG
	url = git@github.com:ollix/MetalNanoVG.git
