[submodule "moui/deps/freetype"]
	path = moui/deps/freetype
	url = git://git.sv.gnu.org/freetype/freetype2.git
[submodule "moui/deps/nanovg"]
	path = moui/deps/nanovg
	url = https://github.com/memononen/nanovg.git
[submodule "moui/deps/MetalNanoVG"]
	path = moui/deps/MetalNanoVG
	url = https://github.com/ollix/MetalNanoVG.git
[submodule "moui/deps/aasset"]
	path = moui/deps/aasset
	url = https://github.com/ollix/aasset.git
